/**
* @file style.css
*/

/*****************************************************************************/
/* @Start - Bootstrap 3 overrides */

/*
* The bootstrap.custom.min.css file used in this app, has the 
* paddings reseted to 0px.
*
* So, add ".bs" to ".container", "container-fluid", ".row" 
* and "col-xx-yy" classes to restore the default's 15px paddings
*/

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* @End - Bootstrap 3 overrides */
/*****************************************************************************/
/* @Start - Global styles */

.full-height {
  height: 100%;  
  min-height: 100%;  
}

.bgcolor-black {
  background-color: #0f0f0f;
}


/* @End - Global styles */
/*****************************************************************************/
/* @Start - Node number */


/* @End - Node number */
/*****************************************************************************/
/* @Start - Node number */


/* @End - Node number */
/*****************************************************************************/
/* @Start - Node number */


/* @End - Node number */
/*****************************************************************************/
/* @Start - Node number */


/* @End - Node number */
/*****************************************************************************/
/* @Start - Node number */
