<!-- @Start Node-004 -->
<div id="node-004" class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-xs-10 col-xs-offset-1 full-height">
      <img src="../img/ionic.png" />
    </div>
  </div>
</div>
<!-- @End Node-004 -->