<!-- @Start Node-XXX -->
<div id="node-XXX" class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-xs-12 full-height">
      <!--
        Node content goes here
        Notice: You can override "container-fluid's" class to simply "container" if you prefer.
      -->
    </div>
  </div>
</div>
<!-- @End Node-XXX -->
