<!-- @Start Node-001 -->
<div id="node-001" class="container-fluid bgcolor-black full-height">
  <div class="row full-height">
    <div class="col-xs-8 col-xs-offset-2 full-height">
      <img src="img/splash.png" />
    </div>
  </div>
</div>
<!-- @End Node-001 -->